{% extends 'base.html.twig' %}

{% block title %}Commentaires {% endblock %}

{% block body %}
    <h1>Les Commentaires </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>
                    <a href="{{ path('app_admin_commentaires_show', {'id': commentaire.id}) }}" class="btn btn-dark">Voir</a>
                    <a href="{{ path('app_admin_commentaires_edit', {'id': commentaire.id}) }}" class="btn btn-light">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_commentaires_new') }}" class="btn btn-dark">Enregistrer un nouveau commentaires</a>
{% endblock %}
