{% extends 'adminBase.html.twig' %}


{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Ce Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ produit.couleur }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
        
        </tbody>
    </table>

    <a href="{{ path('app_admin_produits_index') }}" class="btn btn-light">Retour à la liste</a>

    <a href="{{ path('app_admin_produits_edit', {'id': produit.id}) }}" class="btn btn-dark">Modifier</a>

    {{ include('admin_produits/_delete_form.html.twig') }}
{% endblock %}
