{% extends 'base.html.twig' %}
{% block description %}Notre page inscription {% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div  class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>INSCRIPTION</h1>
<section id="inscription">
            <div class="form_inscri">
                    {{ form_start(registrationForm) }}
                    {{form_label(registrationForm.nom, 'Nom', { 'label_attr': {'class': 'small mb-1'} }) }}
                    {{form_row(registrationForm.nom, {'label':false, 'attr': {'class': 'form-control'}})}}
                    {{form_label(registrationForm.prenom, 'Prénom', { 'label_attr': {'class': 'small mb-1'} }) }}
                    {{form_row(registrationForm.prenom, {'label':false, 'attr': {'class': 'form-control'}})}}
                    {{form_label(registrationForm.adresse, 'Adresse', { 'label_attr': {'class': 'small mb-1'} }) }}
                    {{form_row(registrationForm.adresse, {'label':false, 'attr': {'class': 'form-control'}})}}
                    {{form_label(registrationForm.ville, 'Ville', { 'label_attr': {'class': 'small mb-1'} }) }}
                    {{form_row(registrationForm.ville, {'label':false, 'attr': {'class': 'form-control'}})}}
                    {{form_label(registrationForm.email, 'Email', { 'label_attr': {'class': 'small mb-1'} }) }}
                    {{form_row(registrationForm.email, {'label':false, 'attr': {'class': 'form-control'}})}}
                    {{form_label(registrationForm.plainPassword, 'Mot de passe', { 'label_attr': {'class': 'small mb-1'} }) }}
                    {{form_row(registrationForm.plainPassword, {'label':false, 'attr': {'class': 'form-control'}})}}
                    <div class="rgpd">
                    {{ form_row(registrationForm.RGPD) }}
                    </div>
                  <button type="submit" class="blackButton">S'inscrire</button>
            </div>


     {{ form_end(registrationForm) }}
</section>

{% endblock %}
