{% extends 'base.html.twig' %}
{% block description %}Crampons de football personnalisés selon vos besoins, semelle personnalisée, matière de crampons exclusive, lacets personnalisés.
{% endblock %}


{% block title %}Configuration{% endblock %}

{% block body %}

{% set radio1 = 1 %}
{% set radio2 = 2 %}
{% set radio3 = 3 %}
{% set radio4 = 4 %}
{% set radio5 = 5 %}
{% set radio6 = 6 %}
{% set radio7 = 7 %}
<h1>Configuration de votre paire de crampon</h1>
{% for message in app.flashes('panier')%}
	<div class="alert alert-success col-6 mx-auto" role="alert">{{message}}
	</div>
{% endfor %}

<h4 class="h4">Veuillez choisir vos lacets et votre pointure</h4>
<section class="accessoires">
	{% for produit  in produits %}
		<div style="width:380px"class="carte">
			<form action="{{ path('app_panier', {'id': produit.id})}}" method="POST">
				<div class="imgCard">
					<img src="{{asset('assets/upload/' ~ produit.image ) }}">
				</div>
				<div class="contentCard">
					<h3>{{ produit.nom }}</h3>
					<p class="prix">{{ produit.prix }}€</p>
					<button class="boutton_panier" type="submit">
						<i class="fa-solid fa-cart-shopping"></i>
					</button>

					<a href="{{ path('app_crampons_show', {'id': produit.id}) }}">
						<i style="color:black" class="fa-solid fa-eye"></i>
					</a>
					<div class="taille">
						<h4>Pointure:</h4>
						<input class="regular_radio" type="radio" id="radio_{{ radio1 }}" name="taille" value="39">
						<label for="radio_{{ radio1}}">39</label>
						<input class="regular_radio" type="radio" id="radio_{{ radio2 }}" name="taille" value="40">
						<label for="radio_{{ radio2 }}">40</label>
						<input class="regular_radio" type="radio" id="radio_{{ radio3 }}" name="taille" value="41">
						<label for="radio_{{ radio3 }}">41</label>
						<input class="regular_radio" type="radio" id="radio_{{ radio4 }}" name="taille" value="42">
						<label for="radio_{{ radio4 }}">42</label>
						<input class="regular_radio" type="radio" id="radio_{{ radio5 }}" name="taille" value="43">
						<label for="radio_{{ radio5 }}">43</label>
						<input class="regular_radio" type="radio" id="radio_{{ radio6 }}" name="taille" value="44">
						<label for="radio_{{ radio6 }}">44</label>
						<input class="regular_radio" type="radio" id="radio_{{ radio7 }}" name="taille" value="45">
						<label for="radio_{{ radio7 }}">45</label>
					</div>
                </div>
			</form>
		</div>

		{%  set radio1 = radio1 + 7 %}
		{% set radio2 = radio2 + 7 %}
		{% set radio3 = radio3 + 7 %}
		{% set radio4 = radio4 + 7 %}
		{% set radio5 = radio5 + 7 %}
		{%  set radio6 = radio6 + 7 %}
		{% set radio7 = radio7 + 7 %}
	{% endfor %}

{% endblock %}
