<nav class="navAdmin">
	<img src="{{asset('assets/img/AdminLogo.png')}}">
	<li>
		<a href="{{ path('app_admin_categories_index') }}">Catégories</a>
	</li>
	<li>
		<a href="{{ path('app_admin_produits_index') }}">Produits</a>
	</li>
	<li>
		<a href="{{ path('app_admin_commentaires_index') }}">Commentaires</a>
	</li>
	<li>
		<a href="{{ path('app_admin_comandes_index') }}">Commandes</a>
	</li>
	<li>
		<a href="{{ path('app_admin_utilisateurs_index') }}">Membres</a>
	</li>
	<li>
		<a href="{{ path('app_admin_commande_ligne_index') }}">Commandes détaillées</a>
	</li>
	<li>
		<a href="{{ path('app_home') }}">Site
			<i class="fa-solid fa-home"></i>
		</a>

	</li>
</nav>
<main class="adminMain">

