<header class="top_header">
	<nav id="navigation" >
		<figure>
				<a href="{{ path('app_home') }}">
               <img src="{{asset('assets/img/logoo.png')}}" alt="logo"></a>
		</figure>
		<ul class="nav">
		{% if  is_granted('ROLE_ADMIN') %}
					<li >
						<a href="{{ path('app_admin_acceuil') }}">ADMIN</a>
					</li>
		{% endif %}
			<li>
				<a href="{{ path('app_qui_sommes_nous') }}">Qui sommes nous?</a>
			</li>
			<div class="dropdown">
				<li class="dropbtn">
					<a class="crampon1" href="">Chaussures crampons/<br>
					    Crampons personnalisables</a>
					<a class="crampon2" href="">Crampons</a>
				</li>
				<div class="dropdown-content">
					<a href="{{ path('app_chaussures_crampons') }}">Nos modèles de crampons</a>
					<a href="{{ path('app_configue') }}">Configurer votre crampon</a>
				</div>
			</div>
		<li>
			<a href="{{ path('app_accessoires') }}">Accessoires</a>
		</li>
		<li>
			<a href="{{ path('app_on_parle_de_nous') }}">On parle de nous</a>
		</li>

		<li>
			<a href="{{ path('app_contact') }}">Contact</a>
		</li>
		<li id="panier">
			<a href="{{ path('app_panier_vu')}}" title="panier">
				<i class="fa-solid fa-cart-shopping"></i>
			</a>
		</li>
		{% if not is_granted('ROLE_USER') %}
			<li class="none">
				<a href="{{ path('app_connexion') }}">
					<i title="connexion" class="fa-solid fa-user"></i>
				</a>
				<a href="{{ path('app_inscription') }}">
					<i style="margin-left:15px" title="Inscription" class="fa-solid fa-address-card"></i>
				</a>
			</li>
		{% else %}
			<li class="none">
				<a href="{{ path('app_logout') }}">
					<i title="deconnexion" class="fa-solid fa-arrow-right-from-bracket"></i>
				</a>
			</li>
			<li>
				<a href="{{ path('app_moncompte') }}">
				Mon Compte
					{# <i title="deconnexion" class="fa-solid fa-arrow-right-from-bracket"></i> #}
				</a>
			</li>
		{% endif %}
		<li>
			<a href="{{ path('app_blog') }}">Blog</a>
		</li>
	</ul>
		</nav>
        {% if is_granted ('ROLE_USER') %}
		 <p> Bonjour, {{app.user.prenom}} {{app.user.nom}} une nouvelle envie ?</p>
		{% endif %}
	</header>
<main>
