<nav class="nav nav-borders">
	<a class="nav-link active ms-0" href="{{path ('app_moncompte')}}" >Profil</a>
	<a class="nav-link active ms-0" href="{{path ('app_moncompte_modifier')}} " >Modifier mes informations</a>
	<a class="nav-link" href="{{path ('app_mot_de_passe')}}" >Modifier mon mot de passe</a>
	<a class="nav-link" href="{{path ('app_profile_commentaires_new')}}" >Ajouter commentaire</a>
	<a class="nav-link" href="{{path ('app_moncompte_commandes')}}" >Mes commandes</a>
</nav>
