{% extends 'base.html.twig' %}
{% block description %}{% endblock %}

{% block title %} Accessoires{% endblock %}

{% block body %}
{% for message in app.flashes('panier')%}
	<div class="alert alert-success col-6 mx-auto" role="alert">{{message}}
	</div>
{% endfor %}

 <h1>Nos Accessoires </h1>
<section class="accessoires">
{% for produit in produits %}
    <div class="carte">
           <div class="imgCard">
                 <img src="{{asset('assets/upload/' ~ produit.image ) }}">
            </div>
            <div class="contentCard">
                <h3>{{ produit.nom }}</h3>
                <p class="prix">{{ produit.prix }}€</p> 
                <a href="{{ path('app_panier', {'id': produit.id}) }}" class="panier">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <a href="{{ path('app_accessoires_show', {'id': produit.id}) }}">
                     <i  style="color:black" class="fa-solid fa-eye"></i>
                </a>
            </div>
    </div>
{% endfor %}
</section>

{% endblock %}
